fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
pymupdf==1.24.3
langchain-text-splitters==0.2.0
sentence-transformers==2.7.0
numpy<2.0.0
chromadb==0.5.0
groq==0.9.0
python-dotenv==1.0.1
httpx==0.27.0
sse-starlette==2.1.0

